<div class="container">
  <table class="table mt-4">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Salida</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{nombre}}</td>
        <td>Uppercase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{nombre}}</td>
        <td>Lowercase</td>
        <td>{{nombre | lowercase}}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{nombre}}</td>
        <td>slice:3</td>
        <td>{{nombre | slice:3}}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>{{nombre}}</td>
        <td>slice:0:3</td>
        <td>{{nombre | slice:0:3 }}</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>{{nombre}}</td>
        <td>slice:1:5</td>
        <td>{{nombre | slice:1:5}}</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>{{nombre}}</td>
        <td>slice:2:6</td>
        <td>{{nombre | slice:2:6}}</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>{{PI}}</td>
        <td>number</td>
        <td>{{PI | number}}</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>{{PI}}</td>
        <td>number</td>
        <td>{{PI | number:'3.0-0'}}</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>{{porcentaje}}</td>
        <td>percent</td>
        <td>{{porcentaje | percent}}</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>{{porcentaje}}</td>
        <td>percent</td>
        <td>{{porcentaje | percent:'2.2-2'}}</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>{{salario}}</td>
        <td>currency</td>
        <td>{{salario | currency}}</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>{{salario}}</td>
        <td>currency:EUR</td>
        <td>{{salario | currency:'EUR'}}</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>{{salario}}</td>
        <td>currency:EUR->.0-0</td>
        <td>{{salario | currency:'EUR':'symbol-narrow':'.0-0'}}</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>{{valorPromesa}}</td>
        <td>async /observables/promises</td>
        <td>{{valorPromesa | async}}</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>{{fecha}}</td>
        <td>Date</td>
        <td>{{fecha|date:'medium'}}</td>
      </tr>
    </tbody>
  </table>

  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of arreglo | slice:5:20">{{item }}</li>
  </ul>

  <h3>JSON</h3>
  <hr>
  <div class="row mb-5">
    <div class="col">
      <pre>
        {{heroe|json}}
      </pre>
    </div>
  </div>
</div>
<router-outlet></router-outlet>